flows/Update_Case_Status_when_received_email_after_Resolved.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Contact_Date</name>
        <label>Check Contact Date</label>
        <locationX>576</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Status_to_InQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Greater_than_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.WT_Contact_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus31Day</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Id</targetReference>
            </connector>
            <label>Date Greater than 30</label>
        </rules>
    </decisions>
    <formulas>
        <name>TodayMinus31Day</name>
        <dataType>Date</dataType>
        <expression>TODAY() -31</expression>
    </formulas>
    <interviewLabel>Update Case Status when recived email after C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Status when received email after Resolved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_new_Email_Message</name>
        <label>Create a new Email Message</label>
        <locationX>1022</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityId</field>
            <value>
                <elementReference>$Record.ActivityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BccAddress</field>
            <value>
                <elementReference>$Record.BccAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>$Record.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstOpenedDate</field>
            <value>
                <elementReference>$Record.FirstOpenedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headers</field>
            <value>
                <elementReference>$Record.Headers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>$Record.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming</field>
            <value>
                <elementReference>$Record.Incoming</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsBounced</field>
            <value>
                <elementReference>$Record.IsBounced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsClientManaged</field>
            <value>
                <elementReference>$Record.IsClientManaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsTracked</field>
            <value>
                <elementReference>$Record.IsTracked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastOpenedDate</field>
            <value>
                <elementReference>$Record.LastOpenedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Record.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageIdentifier</field>
            <value>
                <elementReference>$Record.MessageIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReplyToEmailMessageId</field>
            <value>
                <elementReference>$Record.ReplyToEmailMessageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>$Record.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ThreadIdentifier</field>
            <value>
                <elementReference>$Record.ThreadIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Assigned_To__c</field>
            <value>
                <elementReference>$Record.WT_Assigned_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>882</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Create_a_new_Email_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Case_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Owner_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Case_Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Contact_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Contact_Method__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>584</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Id</name>
        <label>Get Owner Id</label>
        <locationX>752</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT_HR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>752</locationX>
        <locationY>685</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT_MyHR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Employee_Id</name>
        <label>Update Case Employee Id</label>
        <locationX>1139</locationX>
        <locationY>688</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WT_Employee__c</field>
            <value>
                <elementReference>Get_Case_Record.WT_Employee__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_to_InQueue</name>
        <label>Update Case Status to InQueue</label>
        <locationX>441</locationX>
        <locationY>723</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Message</name>
        <label>Update Email Message</label>
        <locationX>1139</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Update_Case_Employee_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>Create_a_new_Email_Message</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAttachments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
    <variables>
        <name>StoreAllAttachments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attachment</objectType>
    </variables>
</Flow>
