flows/WT_Create_Action_Plan_on_Account_V2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Create_Action_Plan_for_RG</name>
        <label>Create Action Plan for Person</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanTemplateVersionId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionPlanTemplate.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionPlanState3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Plan_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.TargetId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.IsUsingHolidayHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsUsingHolidayHours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfDefaultOutcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Action_Plan_for_RG_0</name>
        <label>Create Action Plan for Business</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanTemplateVersionId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionPlanTemplate_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionPlanState3_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action_Plan_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.ActionPlanType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.TargetId__NotFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionPlan.IsUsingHolidayHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsUsingHolidayHours1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfDefaultOutcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfDefaultOutcome</name>
        <label>CheckIfDefaultOutcome</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfActionPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Action_Plan_records_0_0_0_0</targetReference>
            </connector>
            <label>IfActionPlan</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeCheck_for_Account</name>
        <label>RecordTypeCheck for Account</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>CheckIfDefaultOutcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PersonAccount_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount_Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Plan</targetReference>
            </connector>
            <label>Person Account Check</label>
        </rules>
        <rules>
            <name>Business_Account_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BusinessAccount_Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BusinessAccount_Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Plan_0</targetReference>
            </connector>
            <label>Business Account Check</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ActionPlanState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActionPlanState</picklistField>
        <picklistObject>ActionPlan</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>WT Create Action Plan on Account V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WT Create Action Plan on Account V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Action_Plan_records_0_0_0_0</name>
        <label>Create Action Plan records</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <inputReference>ActionPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Action_Plan_Templates</name>
        <label>Get Action Plan Templates</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeCheck_for_Account</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Account_Plan</name>
        <label>Create Account Plan</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Action_Plan_for_RG</targetReference>
        </connector>
        <fields>
            <name>Create_Account_Plan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Account_Plan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Plan_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Action Plan Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ActionPlanTemplate</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ActionPlanTemplateVersionId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Action Plan Template</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ActionPlan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>IsUsingHolidayHours</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Skip Nonwork Days For Tasks</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Account_Plan_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Account_Record.FinServ__RelationshipStartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Account opened</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AccountId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TargetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ActionPlan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Account_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ActionPlanState3</name>
                    <choiceReferences>ActionPlanState</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Started</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Account_Plan_0</name>
        <label>Create Account Plan</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Action_Plan_for_RG_0</targetReference>
        </connector>
        <fields>
            <name>Create_Account_Plan_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Account_Plan_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Plan_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Action Plan Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ActionPlanTemplate_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ActionPlanTemplateVersionId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Action Plan Template</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ActionPlan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>IsUsingHolidayHours1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Skip Nonwork Days For Tasks</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Account_Plan_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartDate_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Account_Record.FinServ__RelationshipStartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Date Account opened</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AccountId_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TargetId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Related Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ActionPlan</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Account_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ActionPlanState3_0</name>
                    <choiceReferences>ActionPlanState</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Started</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Action_Plan_Templates</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ActionPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ActionPlan</objectType>
    </variables>
    <variables>
        <name>ActRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Account_Record.RecordType.DeveloperName</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
