flows/WT_Edit_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignProductPartnerSelectedValues</name>
        <label>AssignProductPartnerSelectedValues</label>
        <locationX>1008</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>varProductPartners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use2_Does_this_deal_involve_any_of_the_following_product_partners2_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoProductPartnerAvailableCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductPartnerSelectedValues_0</name>
        <label>AssignProductPartnerSelectedValues</label>
        <locationX>694</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varProductPartners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Use1_Does_this_deal_involve_any_of_the_following_product_partners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoProductPartnerAvailableCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductPartnerSelectedValues_0_0</name>
        <label>AssignProductPartnerSelectedValues</label>
        <locationX>1004</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>varProductPartners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoProductPartnerAvailableCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1</name>
        <label>ErrorAssignment1</label>
        <locationX>275</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find the relevant Account </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0</name>
        <label>ErrorAssignment1</label>
        <locationX>407</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find the selected Product </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>549</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find relevant opportunity type for the selected product. Please contact your administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>1036</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to create opportunity. Please contact your system administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>914</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorOnProductPartner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FranchiseChoice</name>
        <choiceText>Franchise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Franchise</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SBATypeChoice</name>
        <choiceText>{!picklist1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varOpportunityToEdit.WT_SBA_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>StageNameChoice</name>
        <choiceText>{!picklist3}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varOpportunityToEdit.StageName</elementReference>
        </value>
    </choices>
    <choices>
        <name>SyndicationChoice</name>
        <choiceText>Syndication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Syndication</stringValue>
        </value>
    </choices>
    <choices>
        <name>SyndicationChoiceSe</name>
        <choiceText>{!picklist2}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varOpportunityToEdit.WT_Syndication_WTFC_Role__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>WealthChoice</name>
        <choiceText>Wealth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wealth</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>changeYes</name>
        <label>changeYes</label>
        <locationX>1075</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>AssignProductPartnerSelectedValues_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangePP_YEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChangePP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WT_page2_0</targetReference>
            </connector>
            <label>ChangePP YEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecType</name>
        <label>checkRecType</label>
        <locationX>825</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkrectyp1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>productPartnershow</targetReference>
            </connector>
            <label>checkrectyp1</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner</name>
        <label>decision for product partner</label>
        <locationX>1575</locationX>
        <locationY>151</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ABL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABLPage</targetReference>
            </connector>
            <label>ABL</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0</name>
        <label>decision for product partner</label>
        <locationX>1575</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Franchise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FranchisePage</targetReference>
            </connector>
            <label>Franchise</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0</name>
        <label>decision for product partner</label>
        <locationX>1567</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBAPage</targetReference>
            </connector>
            <label>SBA</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1572</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Swap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwapPge</targetReference>
            </connector>
            <label>Swap</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1576</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Syndication2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Syndication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Syndication</targetReference>
            </connector>
            <label>Syndication</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1575</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>updateExistingOpportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wealth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wealth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WealthPage</targetReference>
            </connector>
            <label>wealth</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_selection_1_is_empty</name>
        <label>If selection 1 is empty</label>
        <locationX>824</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>AssignProductPartnerSelectedValues_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Use1_Does_this_deal_involve_any_of_the_following_product_partners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Use1_Does_this_deal_involve_any_of_the_following_product_partners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductPartnerSelectedValues</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoProductPartnerAvailableCheck</name>
        <label>NoProductPartnerAvailableCheck</label>
        <locationX>834</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>productPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUnavailableSelectedProductPartner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0_0_0_0</targetReference>
            </connector>
            <label>productPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeAccountISNull</name>
        <label>seeAccountISNull</label>
        <locationX>338</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>getProductRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_Account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1</targetReference>
            </connector>
            <label>see if Account is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeProductISNul</name>
        <label>seeproductISNull</label>
        <locationX>459</locationX>
        <locationY>263</locationY>
        <defaultConnector>
            <targetReference>getRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_product_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0</targetReference>
            </connector>
            <label>see if product is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeProductISNul_0</name>
        <label>seeproductISNull</label>
        <locationX>618</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>WT_page2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_record_typeis_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0_0</targetReference>
            </connector>
            <label>see if record typeis null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistValue_SBA_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_SBA_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistValue_Syndication_WTFC_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_Syndication_WTFC_Role__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SBATypeUnselected</name>
        <dataType>String</dataType>
        <displayField>WT_Choice_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WT_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT_SBA_Type</stringValue>
            </value>
        </filters>
        <filters>
            <field>WT_Choice_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.WT_SBA_Type__c</elementReference>
            </value>
        </filters>
        <object>WT_Opportunity_Choice__mdt</object>
        <outputAssignments>
            <assignToReference>varValueOrder3</assignToReference>
            <field>Value_Order__c</field>
        </outputAssignments>
        <sortField>Value_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>WT_Choice_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageNameUnselected</name>
        <dataType>String</dataType>
        <displayField>WT_Choice_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WT_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StageName</stringValue>
            </value>
        </filters>
        <filters>
            <field>WT_Choice_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.StageName</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>WT_Opportunity_Choice__mdt</object>
        <outputAssignments>
            <assignToReference>varValueOrder3</assignToReference>
            <field>Value_Order__c</field>
        </outputAssignments>
        <sortField>Value_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>WT_Choice_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SyndicationRoleUnselected</name>
        <dataType>String</dataType>
        <displayField>WT_Choice_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WT_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WT_Syndication_WTFC_Role</stringValue>
            </value>
        </filters>
        <filters>
            <field>WT_Choice_Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.WT_Syndication_WTFC_Role__c</elementReference>
            </value>
        </filters>
        <object>WT_Opportunity_Choice__mdt</object>
        <outputAssignments>
            <assignToReference>varValueOrder3</assignToReference>
            <field>Value_Order__c</field>
        </outputAssignments>
        <sortField>Value_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>WT_Choice_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProductPartnerChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_Involves_any_of_the_product_partner__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>picklist1</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varOpportunityToEdit.WT_SBA_Type__c})==NULL,&quot;None&quot;, TEXT({!varOpportunityToEdit.WT_SBA_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>picklist2</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varOpportunityToEdit.WT_Syndication_WTFC_Role__c})== NULL,&quot;None&quot;,TEXT({!varOpportunityToEdit.WT_Syndication_WTFC_Role__c}))</expression>
    </formulas>
    <formulas>
        <name>picklist3</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!varOpportunityToEdit.StageName})== NULL,&quot;None&quot;,TEXT({!varOpportunityToEdit.StageName}))</expression>
    </formulas>
    <formulas>
        <name>varABLComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ABL_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <description>Used to store current user ID</description>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>varFranchiseComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Franchise_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!varAccountName}+ &apos; &apos;+{!varProductRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>varppformulaTodisplay</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;ABL&quot;),&quot;ABL&quot;&amp;BR(),null)&amp;
IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;Franchise&quot;),&quot;Franchise&quot;&amp;BR(),null)&amp;
IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;SBA&quot;),&quot;SBA&quot;&amp;BR(),null)&amp;
IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;Swap&quot;),&quot;Swap&quot;&amp;BR(),null)&amp;
IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;Syndication&quot;),&quot;Syndication&quot;&amp;BR(),null)&amp;
IF(INCLUDES({!varOpportunityToEdit.WT_Involves_any_of_the_product_partner__c},&quot;Wealth&quot;),&quot;Wealth&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>varProbabilityFormula</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!varOpportunityToEdit.StageName})=={!StageName},{!varProbabiltyValue},
   IF({!StageName}==&apos;Stage 1 - Opportunity Identified&apos;,10,
      IF({!StageName}==&apos;Stage 2 - Company Information Obtained/Needs Assessed&apos;,35,
           IF({!StageName}==&apos;Stage 3 - Deal Structured/Presented&apos;,50,
                 IF({!StageName}==&apos;Stage 4 - Deal Accepted/Commitment&apos;,75,
                     IF({!StageName}==&apos;Stage 5 - Deal Approved&apos;,90,
                         IF({!StageName}==&apos;Stage 6 - Deal Booked/Closed&apos;,100,
                              IF({!StageName}==&apos;Stage 7 - Deal Lost or Declined&apos;,0,{!varProbabiltyValue}))))))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varProFormulaCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!varProductPartners}), True, IF({!varProductPartners}==&apos;&apos;, True, False))</expression>
    </formulas>
    <formulas>
        <name>varSBAComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!SBA_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSwapComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Swap_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSyndicationComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Syndication_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varUnavailableSelectedProductPartner</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varProductPartners}, &quot;ABL&quot;, &quot;&quot; ),&quot;SBA&quot;,&quot;&quot;),&quot;Swap&quot;,&quot;&quot;),&quot;Franchise&quot;,&quot;&quot;),&quot;Syndication&quot;,&quot;&quot;),&quot;Wealth&quot;,&quot;&quot;),&quot;;&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Edit Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountRec</name>
        <label>getAccountRec</label>
        <locationX>273</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seeAccountISNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProductRecord</name>
        <label>getProductRecord</label>
        <locationX>404</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seeProductISNul</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment1_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductRecord.Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Family</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>522</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seeProductISNul_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment1_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductRecord.Family</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>varRecordTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>varOpportunityToEdit</name>
        <label>varOpportunityToEdit</label>
        <locationX>79</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WT_page1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateExistingOpportunity</name>
        <label>updateExistingOpportunity</label>
        <locationX>1185</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorAssignment1_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>SBA_Amount_Staying_on_Wintrust_Books</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>Probability2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varRecordTypeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_ABL_Component__c</field>
            <value>
                <elementReference>varABLComponentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Fee__c</field>
            <value>
                <elementReference>Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Franchise_Component__c</field>
            <value>
                <elementReference>varFranchiseComponentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Franchise_Type__c</field>
            <value>
                <elementReference>Franchise_Type.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Initial_Amount_Drawn__c</field>
            <value>
                <elementReference>Initial_Amount_Drawn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_International_Fee__c</field>
            <value>
                <elementReference>International_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Investment_Fee__c</field>
            <value>
                <elementReference>Investment_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Involves_any_of_the_product_partner__c</field>
            <value>
                <elementReference>varProductPartners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_PV_Rent__c</field>
            <value>
                <elementReference>Leasing_PV_Rent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_PV_Residual__c</field>
            <value>
                <elementReference>Leasing_PV_Residual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_Rate__c</field>
            <value>
                <elementReference>Leasing_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_Team_in_months__c</field>
            <value>
                <elementReference>Leasing_Term_In_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_New_Dollar__c</field>
            <value>
                <elementReference>New</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Product__c</field>
            <value>
                <elementReference>varProductRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_SBA_Component__c</field>
            <value>
                <elementReference>varSBAComponentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_SBA_Type__c</field>
            <value>
                <elementReference>SBA_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Swap_Component__c</field>
            <value>
                <elementReference>varSwapComponentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Swap_Fee__c</field>
            <value>
                <elementReference>Swap_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Component__c</field>
            <value>
                <elementReference>varSyndicationComponentFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Fee__c</field>
            <value>
                <elementReference>Syndication_Fee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Target_Sale__c</field>
            <value>
                <elementReference>Syndication_Target_Sale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_WTFC_Role__c</field>
            <value>
                <elementReference>Syndication_WTFC_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_TMIS_Add_on_Products__c</field>
            <value>
                <elementReference>of_Add_on_Products</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Y1_Avg_Expected_Balance__c</field>
            <value>
                <elementReference>Y1_Average_expected_balance</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateExistingOpportunity_0</name>
        <label>updateExistingOpportunity</label>
        <locationX>1338</locationX>
        <locationY>965</locationY>
        <connector>
            <targetReference>updateExistingOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityToEdit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_ABL_Component__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Franchise_Component__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Franchise_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Initial_Amount_Drawn__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_International_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Investment_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Involves_any_of_the_product_partner__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_PV_Rent__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_PV_Residual__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_Rate__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Leasing_Team_in_months__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_New_Dollar__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_SBA_Component__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_SBA_Type__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Swap_Component__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Swap_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Component__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Fee__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_Target_Sale__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Syndication_WTFC_Role__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_TMIS_Add_on_Products__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>WT_Y1_Avg_Expected_Balance__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>ABLPage</name>
        <label>ABL</label>
        <locationX>1239</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0</targetReference>
        </connector>
        <fields>
            <name>ABLHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;ABL&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ABL_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>ABL Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorLocation</name>
        <label>errorLocation</label>
        <locationX>445</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(244, 110, 79);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1171</locationX>
        <locationY>1105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Endmessage</name>
            <fieldText>&lt;p&gt;Your opportunity has been successfully Updated. Click Finish to view the opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FranchisePage</name>
        <label>Franchise</label>
        <locationX>1234</locationX>
        <locationY>383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0</targetReference>
        </connector>
        <fields>
            <name>FranchiseDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Franchise&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Franchise_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Franchise Component</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Franchise_Type</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Franchise Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WT_Franchise_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varOpportunityToEdit.WT_Franchise_Type__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>productPartnershow</name>
        <label>productPartnershow</label>
        <locationX>961</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>changeYes</targetReference>
        </connector>
        <fields>
            <name>Display2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Selected Product Partners: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!varppformulaTodisplay}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varppformulaTodisplay</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChangePP</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Change Product Partner Selection?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SBAPage</name>
        <label>SBA</label>
        <locationX>1241</locationX>
        <locationY>507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SBADisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;SBA&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBA_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>SBA Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SBA_Type</name>
            <choiceReferences>SBATypeChoice</choiceReferences>
            <choiceReferences>SBATypeUnselected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SBATypeChoice</defaultSelectedChoiceReference>
            <fieldText>SBA Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SBA_Amount_Staying_on_Wintrust_Books</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.Amount</elementReference>
            </defaultValue>
            <fieldText>SBA Amount Staying on Wintrust Books</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwapPge</name>
        <label>Swap</label>
        <locationX>1242</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SwapDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Swap&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Swap_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Swap Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Swap_Fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Swap_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Swap Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Syndication</name>
        <label>Syndication</label>
        <locationX>1244</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SyndicationDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Syndication&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Syndication_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Syndication Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Syndication_WTFC_Role</name>
            <choiceReferences>SyndicationChoiceSe</choiceReferences>
            <choiceReferences>SyndicationRoleUnselected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SyndicationChoiceSe</defaultSelectedChoiceReference>
            <fieldText>Syndication WTFC Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Syndication_Target_Sale</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Syndication_Target_Sale__c</elementReference>
            </defaultValue>
            <fieldText>Syndication Target Sale $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Syndication_Fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Syndication_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Syndication Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WealthPage</name>
        <label>Wealth</label>
        <locationX>1243</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>updateExistingOpportunity_0</targetReference>
        </connector>
        <fields>
            <name>WealthDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Wealth&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WT_page1</name>
        <label>Page1</label>
        <locationX>176</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountRec</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varOpportunityToEdit.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Product</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WT_Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varOpportunityToEdit.WT_Product__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varProductRecord.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varProductRecord.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>StageName</name>
            <choiceReferences>StageNameChoice</choiceReferences>
            <choiceReferences>StageNameUnselected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>StageNameChoice</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WT_page2</name>
        <label>page2</label>
        <locationX>718</locationX>
        <locationY>177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkRecType</targetReference>
        </connector>
        <fields>
            <name>OpportunityOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varOpportunityToEdit.OwnerId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varOwner</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Initial_Amount_Drawn</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Initial_Amount_Drawn__c</elementReference>
            </defaultValue>
            <fieldText>Initial Amount Drawn $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Y1_Average_expected_balance</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Y1_Avg_Expected_Balance__c</elementReference>
            </defaultValue>
            <fieldText>Y1 Average expected balance $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Anticipated_Outstanding</name>
            <dataType>Currency</dataType>
            <fieldText>New Anticipated Outstanding $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_New_Dollar__c</elementReference>
            </defaultValue>
            <fieldText>New $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>International_Fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_International_Fee__c</elementReference>
            </defaultValue>
            <fieldText>International Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_Fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Investment_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Investment Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Investment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Investment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>International</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_PV_Rent</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Leasing_PV_Rent__c</elementReference>
            </defaultValue>
            <fieldText>Leasing PV Rent $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_PV_Residual</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Leasing_PV_Residual__c</elementReference>
            </defaultValue>
            <fieldText>Leasing PV Residual $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_Rate</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Leasing_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Leasing Rate %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid input. Please enter a value less than equal to 100&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Leasing_Rate}&lt;=100</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_Term_In_months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_Leasing_Team_in_months__c</elementReference>
            </defaultValue>
            <fieldText>Leasing Term (In Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>of_Add_on_Products</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.WT_TMIS_Add_on_Products__c</elementReference>
            </defaultValue>
            <fieldText># of Add- on Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Probability2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varProbabilityFormula</elementReference>
            </defaultValue>
            <fieldText>Probability%</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>estimated_close_date3</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOpportunityToEdit.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Estimated Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>recordType</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WT_page2_0</name>
        <label>page2</label>
        <locationX>1105</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_selection_1_is_empty</targetReference>
        </connector>
        <fields>
            <name>Use1_Does_this_deal_involve_any_of_the_following_product_partners</name>
            <choiceReferences>varProductPartnerChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does this deal involve any of the following product partners?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Use2_Does_this_deal_involve_any_of_the_following_product_partners2_0</name>
            <choiceReferences>FranchiseChoice</choiceReferences>
            <choiceReferences>SyndicationChoice</choiceReferences>
            <choiceReferences>WealthChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does this deal involve any of the following product partners?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Deposit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>varOpportunityToEdit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorOnProductPartner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 68, 96);&quot;&gt;ERROR: We are not able to create opportunity for the {!varUnavailableSelectedProductPartner}  product partner. Please contact your administrator.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>flow/WT_New_Opportunity?retURL={!varOpportunityToCreate.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <description>used to hold the parent Account ID</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varOpportunityToCreate.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProbabiltyValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varOpportunityToEdit.Probability</elementReference>
        </value>
    </variables>
    <variables>
        <name>varProductPartnerChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductPartners</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductSelectedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varValueOrder3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
