flows/Wt_MyHr_Case_Redirect.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Emil_to_access_management</name>
        <label>Send Emil to access management</label>
        <locationX>575</locationX>
        <locationY>584</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Access_Management_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_Accont_Payable</name>
        <label>Send Emil to Accont Payable</label>
        <locationX>309</locationX>
        <locationY>590</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Accounts_Payable_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_equifax</name>
        <label>Send Emil to equifax</label>
        <locationX>970</locationX>
        <locationY>582</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Equifax_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_It_support</name>
        <label>Send Emil to It support</label>
        <locationX>50</locationX>
        <locationY>608</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_IT_Support_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_Learning_and_Development</name>
        <label>Send Emil to Learning and Development</label>
        <locationX>447</locationX>
        <locationY>584</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Learning_and_Development_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_payroll</name>
        <label>Send Emil to payroll</label>
        <locationX>838</locationX>
        <locationY>583</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Payroll_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_Recruiting</name>
        <label>Send Emil to Recruiting</label>
        <locationX>175</locationX>
        <locationY>593</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Recruiting_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emil_to_security</name>
        <label>Send Emil to security</label>
        <locationX>708</locationX>
        <locationY>583</locationY>
        <actionName>Case.MyHr_Case_Redirect_to_Security_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>case_status_Closed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseInputVar.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>case_status_Closed</name>
        <label>case status Closed</label>
        <locationX>577</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>CaseInputVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_Rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_ActionVar</name>
        <label>check ActionVar</label>
        <locationX>558</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_is_It_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_It_support</targetReference>
            </connector>
            <label>Action is It Support</label>
        </rules>
        <rules>
            <name>Action_is_Recruiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_Recruiting</targetReference>
            </connector>
            <label>Action is Recruiting</label>
        </rules>
        <rules>
            <name>Action_is_Accounts_Payable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accounts Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_Accont_Payable</targetReference>
            </connector>
            <label>Action is Accounts Payable</label>
        </rules>
        <rules>
            <name>Action_is_Learning_and_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Learning &amp; Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_Learning_and_Development</targetReference>
            </connector>
            <label>Action is Learning and Development</label>
        </rules>
        <rules>
            <name>Action_is_Access_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_access_management</targetReference>
            </connector>
            <label>Action is Access Management</label>
        </rules>
        <rules>
            <name>Action_is_Security_or_Colliers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Security/Colliers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_security</targetReference>
            </connector>
            <label>Action is Security or Colliers</label>
        </rules>
        <rules>
            <name>Action_is_Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_payroll</targetReference>
            </connector>
            <label>Action is Payroll</label>
        </rules>
        <rules>
            <name>Action_is_Equifax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseInputVar.WT_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equifax</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Emil_to_equifax</targetReference>
            </connector>
            <label>Action is Equifax</label>
        </rules>
    </decisions>
    <description>DBSFCRM-373</description>
    <interviewLabel>MyHr Case Redirect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MyHr Case Redirect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_case_Rec</name>
        <label>Update case Rec</label>
        <locationX>576</locationX>
        <locationY>906</locationY>
        <inputReference>CaseInputVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>440</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_ActionVar</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ActionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseInputVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
