flows/WT_New_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignProductPartnerSelectedValues</name>
        <label>AssignProductPartnerSelectedValues</label>
        <locationX>908</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varProductPartners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_deal_involve_any_of_the_following_product_partners2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoProductPartnerAvailableCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductPartnerSelectedValues_0</name>
        <label>AssignProductPartnerSelectedValues</label>
        <locationX>1172</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>varProductPartners</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_this_deal_involve_any_of_the_following_product_partners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoProductPartnerAvailableCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValueToOpportunityvar</name>
        <label>AssignValueToOpportunityvar</label>
        <locationX>1238</locationX>
        <locationY>5174</locationY>
        <assignmentItems>
            <assignToReference>varOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Involves_any_of_the_product_partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProductPartners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecordTypeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Y1_Avg_Expected_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Y1_Average_expected_balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_New_Dollar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_TMIS_Add_on_Products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>of_Add_on_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_International_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>International_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Investment_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Investment_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Leasing_PV_Rent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leasing_PV_Rent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Leasing_PV_Residual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leasing_PV_Residual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Leasing_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leasing_Rate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Leasing_Team_in_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leasing_Term_In_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_ABL_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varABLComponentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Franchise_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFranchiseComponentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Franchise_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Franchise_Type.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_SBA_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSBAComponentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_SBA_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBA_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBA_Amount_Staying_on_Wintrust_Books</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Swap_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSwapComponentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Swap_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Swap_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Syndication_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSyndicationComponentFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Syndication_WTFC_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Syndication_WTFC_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Syndication_Target_Sale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Syndication_Target_Sale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Syndication_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Syndication_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>estimated_close_date3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Initial_Amount_Drawn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Amount_Drawn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Actual_Close_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunity.WT_Status_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1</name>
        <label>ErrorAssignment1</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find the relevant Account </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0</name>
        <label>ErrorAssignment1</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find the selected Product </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR: Cannot find relevant opportunity type for the selected product. Please contact your administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>1546</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to create opportunity. Please contact your system administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorAssignment1_0_0_0_0</name>
        <label>ErrorAssignment1</label>
        <locationX>842</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorOnProductPartner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>errorLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EstimatedCloseDateAndProbabilityValidationTrue</name>
        <label>EstimatedCloseDateAndProbabilityValidationTrue</label>
        <locationX>908</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>EstimatedCloseDateAndProbabilityValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InitialAmountDrawnConditionCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fee1MillionValidationTrue</name>
        <label>Fee1MillionValidationTrue</label>
        <locationX>908</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>Fee1MillionValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EstimatedCloseDateProbabilityDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Name</name>
        <label>Set Account Name</label>
        <locationX>305</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>varAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varConcatenatedAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>seeAccountISNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialAmountDrawnValidation</name>
        <label>SetInitialAmountDrawnValidation</label>
        <locationX>908</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>InitialAmountDrawnValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_selection_1_is_empty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_100</name>
        <choiceText>100</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_25</name>
        <choiceText>25</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>25.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_50</name>
        <choiceText>50</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_75</name>
        <choiceText>75</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>75.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_90</name>
        <choiceText>90</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Choice_None</name>
        <choiceText>--None--</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>FranchiseChoice</name>
        <choiceText>Franchise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Franchise</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SyndicationChoice</name>
        <choiceText>Syndication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Syndication</stringValue>
        </value>
    </choices>
    <choices>
        <name>WealthChoice</name>
        <choiceText>Wealth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wealth</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decision_for_product_partner</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ABL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ABL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ABLPage</targetReference>
            </connector>
            <label>ABL</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Franchise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FranchisePage</targetReference>
            </connector>
            <label>Franchise</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SBA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SBA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBAPage</targetReference>
            </connector>
            <label>SBA</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Swap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SwapPge</targetReference>
            </connector>
            <label>Swap</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>4382</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Syndication2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Syndication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Syndication</targetReference>
            </connector>
            <label>Syndication</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_product_partner_0_0_0_0_0</name>
        <label>decision for product partner</label>
        <locationX>1238</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>Finish_Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wealth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wealth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WealthPage</targetReference>
            </connector>
            <label>wealth</label>
        </rules>
    </decisions>
    <decisions>
        <name>EstimatedCloseDateProbabilityDecision</name>
        <label>EstimatedCloseDateProbabilityDecision</label>
        <locationX>1040</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>InitialAmountDrawnConditionCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstimatedCloseDateProbabilityDecisionCheck</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND (5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>estimated_close_date3</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentDateWith6Months</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Probability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_50</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Probability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_75</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Probability2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_90</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Business Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Technical Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstimatedCloseDateAndProbabilityValidationTrue</targetReference>
            </connector>
            <label>EstimatedCloseDateProbabilityDecisionCheck</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Fee &gt;= 1 million</description>
        <name>Fee1MillionValidationLabel</name>
        <label>Fee1MillionValidationLabel</label>
        <locationX>1040</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>EstimatedCloseDateProbabilityDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee1MillionCondition</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Fee</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Business Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Technical Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fee1MillionValidationTrue</targetReference>
            </connector>
            <label>Fee &gt;= 1 million</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_selection_1_is_empty</name>
        <label>If selection 1 is empty</label>
        <locationX>1040</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>AssignProductPartnerSelectedValues_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Does_this_deal_involve_any_of_the_following_product_partners</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_this_deal_involve_any_of_the_following_product_partners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductPartnerSelectedValues</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>InitialAmountDrawnConditionCheck</name>
        <label>InitialAmountDrawnConditionCheck</label>
        <locationX>1040</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>If_selection_1_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitialAmountDrawnCondition</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Amount_Drawn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E7</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Business Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Technical Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WT Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInitialAmountDrawnValidation</targetReference>
            </connector>
            <label>InitialAmountDrawnCondition</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoProductPartnerAvailableCheck</name>
        <label>NoProductPartnerAvailableCheck</label>
        <locationX>1040</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>decision_for_product_partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>productPartner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUnavailableSelectedProductPartner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProductPartners</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0_0_0_0</targetReference>
            </connector>
            <label>productPartner</label>
        </rules>
    </decisions>
    <decisions>
        <name>opportunityRecordTypeCheck</name>
        <label>opportunityRecordTypeCheck</label>
        <locationX>305</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecordTypeDevName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Name</targetReference>
            </connector>
            <label>Error Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeAccountISNull</name>
        <label>seeAccountISNull</label>
        <locationX>305</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>getProductRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_Account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1</targetReference>
            </connector>
            <label>see if Account is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeProductISNul</name>
        <label>seeproductISNull</label>
        <locationX>561</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>getRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_product_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0</targetReference>
            </connector>
            <label>see if product is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>seeProductISNul_0</name>
        <label>seeproductISNull</label>
        <locationX>809</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>WT_page2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>see_if_record_typeis_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordTypeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorAssignment1_0_0</targetReference>
            </connector>
            <label>see if record typeis null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PicklistValue_SBA_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_SBA_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistValue_Syndication_WTFC_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_Syndication_WTFC_Role__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productchiocelsit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>varProductRecord.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_Status_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varProductPartnerChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WT_Involves_any_of_the_product_partner__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDateWith6Months</name>
        <dataType>Date</dataType>
        <expression>AddMonths(TODAY(),6)</expression>
    </formulas>
    <formulas>
        <name>varABLComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!ABL_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varConcatenatedAccountName</name>
        <dataType>String</dataType>
        <expression>{!varAccountFirstName} + &apos; &apos; + {!varAccountLastName}</expression>
    </formulas>
    <formulas>
        <description>Used to store current user ID</description>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>varFranchiseComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Franchise_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!varConcatenatedAccountName} + &apos; &apos;+ {!varProductRecord.Name}</expression>
    </formulas>
    <formulas>
        <name>varProFormulaCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!varProductPartners}), True, IF({!varProductPartners}==&apos;&apos;, True, False))</expression>
    </formulas>
    <formulas>
        <name>varSBAComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!SBA_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSwapComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Swap_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varSyndicationComponentFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Syndication_Component}==&apos;Yes&apos;,&apos;Yes&apos;,&apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>varUnavailableSelectedProductPartner</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!varProductPartners}, &quot;ABL&quot;, &quot;&quot; ),&quot;SBA&quot;,&quot;&quot;),&quot;Swap&quot;,&quot;&quot;),&quot;Franchise&quot;,&quot;&quot;),&quot;Syndication&quot;,&quot;&quot;),&quot;Wealth&quot;,&quot;&quot;),&quot;;&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOpportunity</name>
        <label>createOpportunity</label>
        <locationX>1238</locationX>
        <locationY>5294</locationY>
        <faultConnector>
            <targetReference>ErrorAssignment1_0_0_0</targetReference>
        </faultConnector>
        <inputReference>varOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountRec</name>
        <label>getAccountRec</label>
        <locationX>305</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOppRecordTypeInfo</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorAssignment1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppRecordTypeInfo</name>
        <label>getOppRecordTypeInfo</label>
        <locationX>305</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opportunityRecordTypeCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityRecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varOpportunityRecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProductRecord</name>
        <label>getProductRecord</label>
        <locationX>561</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seeProductISNul</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorAssignment1_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_picklist</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Family</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>809</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>seeProductISNul_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorAssignment1_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductRecord.Family</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>varRecordTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>ABLPage</name>
        <label>ABL</label>
        <locationX>1106</locationX>
        <locationY>3158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0</targetReference>
        </connector>
        <fields>
            <name>ABLHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;ABL&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ABL_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>ABL Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorLocation</name>
        <label>errorLocation</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>err</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;ERROR&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(244, 110, 79);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen_0_0</name>
        <label>Finish Screen</label>
        <locationX>1238</locationX>
        <locationY>5054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignValueToOpportunityvar</targetReference>
        </connector>
        <fields>
            <name>newOpp_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New {!varRecordTypeRecord.Name} Opportunity&lt;/b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fee1MillionValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Please review and confirm that &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Fee $&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt; is accurate.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fee1MillionValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InitialAmountDrawnValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Please review and confirm that &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Initial Amount Drawn&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt; is accurate. As a reminder, this figure should reflect the anticipated outstanding amount within 30 days of closing.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InitialAmountDrawnValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EstimatedCloseDateAndProbabilityValidationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Please review and confirm that &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Estimated Close Date&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Probability %&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt; are accurate.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EstimatedCloseDateAndProbabilityValidation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Endmessage_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(20, 144, 16); font-size: 26px;&quot;&gt;Click&lt;/span&gt;&lt;b style=&quot;color: rgb(20, 144, 16); font-size: 26px;&quot;&gt; Finish&lt;/b&gt;&lt;span style=&quot;color: rgb(20, 144, 16); font-size: 26px;&quot;&gt; to create the opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FranchisePage</name>
        <label>Franchise</label>
        <locationX>1106</locationX>
        <locationY>3494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0</targetReference>
        </connector>
        <fields>
            <name>FranchiseDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Franchise&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Franchise_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Franchise Component</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Franchise_Type</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Franchise Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WT_Franchise_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SBAPage</name>
        <label>SBA</label>
        <locationX>1106</locationX>
        <locationY>3830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SBADisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;SBA&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SBA_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>SBA Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SBA_Type</name>
            <choiceReferences>PicklistValue_SBA_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SBA Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SBA_Amount_Staying_on_Wintrust_Books</name>
            <dataType>Currency</dataType>
            <fieldText>SBA Amount Staying on Wintrust Books</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SwapPge</name>
        <label>Swap</label>
        <locationX>1106</locationX>
        <locationY>4166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SwapDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Swap&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Swap_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Swap Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Swap_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Swap Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Syndication</name>
        <label>Syndication</label>
        <locationX>1106</locationX>
        <locationY>4502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_for_product_partner_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>SyndicationDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Syndication&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Syndication_Component</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Syndication Component?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Syndication_WTFC_Role</name>
            <choiceReferences>PicklistValue_Syndication_WTFC_Role</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Syndication WTFC Role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Syndication_Target_Sale</name>
            <dataType>Currency</dataType>
            <fieldText>Syndication Target Sale $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Syndication_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Syndication Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WealthPage</name>
        <label>Wealth</label>
        <locationX>1106</locationX>
        <locationY>4838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish_Screen_0_0</targetReference>
        </connector>
        <fields>
            <name>WealthDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 22px;&quot;&gt;Wealth&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WT_page1</name>
        <label>Page1</label>
        <locationX>305</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAccountRec</targetReference>
        </connector>
        <fields>
            <name>NewOpporutnity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;New Opportunity&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Product_picklist</name>
            <choiceReferences>productchiocelsit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WT_page2</name>
        <label>page2</label>
        <locationX>1040</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fee1MillionValidationLabel</targetReference>
        </connector>
        <fields>
            <name>RecordTypeName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 20px;&quot;&gt;New {!varRecordTypeRecord.Name} Opportunity&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WT_Opportunity_Owner_Flow__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varCurrentUserID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varOpportunityOwner.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Initial_Amount_Drawn</name>
            <dataType>Currency</dataType>
            <fieldText>Initial Amount Drawn $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Y1_Average_expected_balance</name>
            <dataType>Currency</dataType>
            <fieldText>Y1 Average expected balance $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New</name>
            <dataType>Currency</dataType>
            <fieldText>New $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>International_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>International Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Investment_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Investment Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Investment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Fee $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Investment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>International</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_PV_Rent</name>
            <dataType>Currency</dataType>
            <fieldText>Leasing PV Rent $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_PV_Residual</name>
            <dataType>Currency</dataType>
            <fieldText>Leasing PV Residual $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Leasing Rate %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Invalid input. Please enter a value less than equal to 100&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Leasing_Rate}&lt;=100</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Leasing_Term_In_months</name>
            <dataType>Number</dataType>
            <fieldText>Leasing Term (In Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Leasing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>of_Add_on_Products</name>
            <dataType>Number</dataType>
            <fieldText># of Add- on Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TM</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>StageChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Actual_Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Actual Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Stage 6 - Deal Booked/Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Stage 7 - Deal Lost or Declined</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status_Reason</name>
            <choiceReferences>StatusReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Stage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Stage 7 - Deal Lost or Declined</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Probability2</name>
            <choiceReferences>Choice_10</choiceReferences>
            <choiceReferences>Choice_25</choiceReferences>
            <choiceReferences>Choice_50</choiceReferences>
            <choiceReferences>Choice_75</choiceReferences>
            <choiceReferences>Choice_90</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Probability (%)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>estimated_close_date3</name>
            <dataType>Date</dataType>
            <fieldText>Estimated Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_this_deal_involve_any_of_the_following_product_partners</name>
            <choiceReferences>varProductPartnerChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does this deal involve any of the following product partners?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Does_this_deal_involve_any_of_the_following_product_partners2</name>
            <choiceReferences>FranchiseChoice</choiceReferences>
            <choiceReferences>SyndicationChoice</choiceReferences>
            <choiceReferences>WealthChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does this deal involve any of the following product partners?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRecordTypeRecord.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Deposit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>recordType</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>179</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WT_page1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorOnProductPartner</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 68, 96);&quot;&gt;ERROR: We are not able to create opportunity for the {!varUnavailableSelectedProductPartner}  product partner. Please contact your administrator.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OpportunityOnScreenAlertForFee</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Please review and confirm that &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Fee $&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt; is accurate.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstimatedCloseDateAndProbabilityValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Fee1MillionValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InitialAmountDrawnValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>flow/WT_New_Opportunity?retURL={!varOpportunity.Id}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>used to hold the parent Account ID</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAccountLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varOpportunity.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varOpportunityOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varOpportunityRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varProductPartnerChoices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductPartners</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varProductSelectedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
